* {
    box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #1b1b1b;
}

/* ///////////// NAV-LOGO ///////////// */
.logo {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    width: 100px;
}

.nav__div {
    padding: 60px 100px;
    background: #1b1b1b;
}

/* ///////// ARTICLE SECTION ///////// */
article {
    width: 100%;
    min-height: 100vh;
    padding: 50px 100px;
    background: #1b1b1b;
    padding-bottom: 15em;
}

/* =================================== */
h1, h2 {
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    color: #1b1b1b;
    background-color: rgba(255, 255, 255, 0.288);
    padding: 4px;
    margin-bottom: 20px;
    font-size: 30px;
}

b {
    color: #d3b639;
}

/* //////////// SECTION-00 //////////// */
.article__section-00 {
    max-width: 1900px;
    margin: auto;
    color: rgba(255, 255, 255, 0.288);
}

.article__section-00 {
    max-width: 1000px;
    text-align: center;
    margin-bottom: 120px;
    line-height: 20px;
}

.article__section-00 h1 {
    color: white;
    margin-bottom: 10px;
    font-size: 3.5rem;
    line-height: 55px;
}

/* //////////// SECTION-10 //////////// */
.article__section-10 {
    max-width: 1900px;
    margin: auto;
}

.section-10__galery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: auto;
    grid-gap: 10px 14px;
    overflow: hidden;
}

.section-10__galery img {
    width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.section-10__galery > a {
    display: block;
    position: relative;
    overflow: hidden;
}

.section-10__galery a:hover img {
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

/* //////////// SECTION-20 //////////// */
.article__section-20 {
    max-width: 1900px;
    margin: auto;
}

.section-20__galery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: auto;
    grid-gap: 10px 14px;
    overflow: hidden;
}

.article__section-20 {
    padding-top: 100px;
}

.section-20__galery img {
    width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.section-20__galery > a {
    display: block;
    position: relative;
    overflow: hidden;
}

.section-20__galery a:hover img {
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

/* //////////// SECTION-30 //////////// */
.article__section-30 {
    max-width: 1900px;
    margin: auto;
}

.section-30__galery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: auto;
    grid-gap: 10px 14px;
    overflow: hidden;
}

.article__section-30 {
    padding-top: 100px;
}

.section-30__galery img {
    width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.section-30__galery > a {
    display: block;
    position: relative;
    overflow: hidden;
}

.section-30__galery a:hover img {
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.925);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

/* =================================== */
.light-box img {
    width: 0 auto;
    height: auto;
    max-width: 600px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.774);
    margin: 10px;
}

.light-box:target {
    transform: scale(1);
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: white;
    color: black;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next p {
    display: block;
    background: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    line-height: 52px;
    font-weight: 400;
    font-size: 60px;
    text-decoration: none;
    text-align: center;
}

/* /////// MEDIA QUERY (1024px) /////// */
@media(max-width: 1024px) {
    .nav__div {
        padding: 30px 40px;
    }
    
    .section-20__div-10 img {
        width: 50px;
    }

    article {
        padding: 60px 40px;
        padding-bottom: 150px;
    }

    .section-10__div-10 .div-10__img-10 {
        width: 300px;
    }

    .section-10__div-10 p {
        font-size: 14px;
        line-height: 25px;
    }
}

/* /////// MEDIA QUERY (480px) /////// */
@media(max-width: 480px) {
    .nav__div {
        padding: 20px 25px;
    }

    h1 p {
        font-size: 2.5rem;
    }

    h1 {
        font-size: 3.5rem;
        line-height: 50px;
    }

    .article__section-00 .text {
        font-size: 14px;
    }

    .article__section-10 .div-10__img-10 {
        width: 250px;
    }

    article {
        padding: 60px 25px;
        padding-bottom: 150px;
    }

    .section-20__div-10 {
        gap: 40px;
        padding-bottom: 100px;
    }

    .article__section-10 {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/* /////// MEDIA QUERY (360px) /////// */
@media(max-width: 360px) {
    h1 p {
        font-size: 2rem;
    }
}

